.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    transition: transform 0.5s ease, opacity 0.5s ease;

    &.hidden {
        transform: translateY(-100%);
        opacity: 0;
    }

    .header-nav {
        width: 100%;
        max-width: 1200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-list {
        list-style: none;
        display: flex;
        gap: 48px;
        margin: 0;
        padding: 0;

        li {
            color: white;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
            transition: 0.3s;
            color: var(--Light-Mode-Gray-Scale-0, #FFF);

            /* Font/Subtitle 1/Medium */
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            /* 125% */
            letter-spacing: 0.2px;

            &:hover {
                color: #ff16b1;
            }
        }

        .lang-switch {
            letter-spacing: 2px;
        }
    }
}