.mobile-app-section {
    max-width: 1440px;
    height: 1041px;
    background: linear-gradient(180deg, #572B8F -8.94%, #120030 107.08%);
    color: #fff;

    text-align: center;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding-top: 80px;


    .background {
        width: 1444.5px;
        height: 146px;
        flex-shrink: 0;
        position: absolute;
        z-index: 13;
        top: 0;
        background: url('../assets/images/Vector 3.png') no-repeat;
    }

    .background-1 {
        width: 100%;
        height: 100%;
        flex-shrink: 0;
        aspect-ratio: 1578/1051;
        opacity: 0.25;
        background: url('../assets/images/6538478-01 2.png') no-repeat;
        mix-blend-mode: luminosity;
        position: absolute;
        z-index: 12;
    }

    .content {
        width: 1004px;
        margin: 0 auto 60px auto;

        .title {
            text-align: center;

            .p_1 {
                font-family: Inter;
                font-size: 150px;
                font-weight: 700;
                line-height: 1.1;
                margin: 0;
                background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.7) 40%, rgba(255, 255, 255, 0) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .p_2 {
                font-family: Inter;
                font-size: 75px;
                font-weight: 700;
                line-height: 1.1;
                margin-top: -60px;
                /* Đưa “experience” gần hơn với “Work” */
                background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.7) 40%, rgba(255, 255, 255, 0) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .subtitle {
            color: #FFB45E;
            text-align: center;
            font-family: Inter;
            font-size: 26px;
            font-style: italic;
            font-weight: 400;
            line-height: 32px;
            /* 123.077% */
            margin-top: 24px;
            margin-bottom: 24px;
        }

        .desc {

            /* Font/Heading 5/Regular */
            font-family: Inter;
            font-size: 26px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
            /* 123.077% */
            width: 1004px;

            span {
                color: #FF6CCE;
                /* Font/Heading 5/Bold */
                font-family: Inter;
                font-size: 26px;
                font-style: normal;
                font-weight: 700;
                line-height: 32px;

                text-align: center;
            }


        }
    }

    .image-mobile {

        width: 674px;
        height: 637px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        position: relative;
        margin-top: -18px;

        .image-mobile-background {
            width: 674px;
            height: 674px;
            border-radius: 50%;
            background: radial-gradient(50% 50% at 50% 50%,
                    rgba(213, 110, 255, 0.4) 0%,
                    rgba(180, 126, 247, 0) 100%);
        }

        .image-mobile-center {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); // canh chính giữa
            width: 245.772px;
            height: 495.695px;
            z-index: 2; // nổi lên trên background
        }

        .image-mobile-1 {
            position: absolute;
            left: 43px;
            z-index: 3;
            width: 251px;
            height: 122px;
            flex-shrink: 0;
            aspect-ratio: 251 / 122;
            top: 42%;
        }

        .image-mobile-2 {
            position: absolute;
            right: 96px;
            z-index: 3;
            width: 223.799px;
            height: 76px;
            flex-shrink: 0;
            aspect-ratio: 223.8 / 76;
            top: 37%;


        }

        .image-mobile-3 {
            position: absolute;
            right: 53px;
            width: 196.864px;
            height: 192.16px;
            flex-shrink: 0;
            aspect-ratio: 196.86 / 192.16;
            bottom: 93px;
            z-index: 3;
        }
    }

    .background-bot {
        width: 100%;
        height: auto;
        position: relative;
        z-index: 5; // 👈 thêm dòng này
        margin-top: 83px;

        img {
            position: absolute;
            z-index: 1;
            bottom: 24px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            width: 246.44px;
            height: 44.723px;
            flex-direction: column;
            justify-content: center;
            flex-shrink: 0;
        }

        span {
            position: absolute;
            z-index: 2;
            bottom: 30px; // điều chỉnh vị trí tùy ý
            left: 50%;
            transform: translateX(-50%);


            color: #FFF;
            text-align: center;


            /* Font/Heading 6/SemiBold */
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 31px;
            /* 120% */
            letter-spacing: 0.03px;
        }
    }
}

.mobile-app-section-2 {
    max-width: 1440px;
    height: 1109px;
    background: linear-gradient(180deg, #572B8F -8.94%, #120030 107.08%);
    color: #fff;

    text-align: center;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding-top: 80px;


    .background {
        width: 1444.5px;
        height: 146px;
        flex-shrink: 0;
        position: absolute;
        z-index: 13;
        top: 0;
        background: url('../assets/images/Vector 3.png') no-repeat;
    }

    .background-1 {
        width: 100%;
        height: 100%;
        flex-shrink: 0;
        aspect-ratio: 1578/1051;
        opacity: 0.25;
        background: url('../assets/images/6538478-01 2.png') no-repeat;
        mix-blend-mode: luminosity;
        position: absolute;
        z-index: 12;
    }

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1216px;
        margin: 0 auto 225px auto;
        gap: 32px;

        .title {
            font-size: 3rem;
            font-weight: 700;
            margin-bottom: 10px;
            background: linear-gradient(90deg, #b884ff, #f7a9ff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .subtitle {
            font-size: 1.1rem;
            color: #ffba6b;
            margin-bottom: 10px;
            font-style: italic;
        }

        .desc {
            font-size: 1rem;
            color: #e4d8ff;
            line-height: 1.6;
        }
    }

    .image-mobile {

        width: 45%;
        height: 674px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        position: relative; // cần để ảnh con position tuyệt đối

        margin-top: 30px;

        .image-mobile-background {
            width: 674px;
            height: 674px;
            border-radius: 50%;
            background: radial-gradient(50% 50% at 50% 50%,
                    rgba(213, 110, 255, 0.4) 0%,
                    rgba(180, 126, 247, 0) 100%);
        }

        .image-mobile-center {
            position: absolute;
            top: 48%;
            left: 35%;
            transform: translate(-50%, -50%); // canh chính giữa
            width: 276px;
            height: 557px;
            flex-shrink: 0;
            aspect-ratio: 276/557;
            z-index: 3; // nổi lên trên background
        }

        .image-mobile-center-2 {
            position: absolute;
            top: 60%;
            left: 68%;
            transform: translate(-50%, -50%); // canh chính giữa

            z-index: 2; // nổi lên trên backgroundwidth: 276px;
            height: 557px;
            flex-shrink: 0;
            aspect-ratio: 276/557;
        }

        .image-mobile-1 {
            position: absolute;
            left: 0;
            z-index: 3;
            width: 251px;
            height: 122px;
            flex-shrink: 0;
            aspect-ratio: 251/122;
            top: 48%;
        }

        .image-mobile-2 {
            position: absolute;
            right: 0;
            z-index: 3;
            width: 265px;
            height: 122px;
            flex-shrink: 0;
            aspect-ratio: 265/122;
            top: 20%;
        }

        .image-mobile-3 {
            position: absolute;
            right: 0;
            width: 221px;
            height: 216px;
            flex-shrink: 0;
            aspect-ratio: 221/216;
            bottom: 60px;
            z-index: 3;
        }
    }

    .background-bot {

        position: relative;
        z-index: 5; // 👈 thêm dòng này

        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            position: absolute;
            z-index: 1;
            bottom: 0; // nếu bạn muốn nó nằm sát dưới
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            width: 246.44px;
            height: 44.723px;
            flex-direction: column;
            justify-content: center;
            flex-shrink: 0;
            margin-top: 50px;
        }

        span {
            width: 100%;
            position: absolute;
            z-index: 2;
            bottom: 3px;
            left: 50%;
            transform: translateX(-50%);

            color: #fff;

            text-align: center;




            /* Font/Heading 6/SemiBold */
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 37px;
            /* 120% */
            letter-spacing: 0.03px;
        }
    }

    .content-wrap {
        max-width: 53%;
        margin-top: 110px;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 52px;
        height: 553px;

        .content-text {

            li {
                color: #fff;
                text-align: left;
                font-family: Inter;
                font-size: 26px;
                font-style: normal;
                font-weight: 700;
                line-height: 32px;

                span {
                    color: var(--Light-Mode-Gray-Scale-0, #FFF);

                    /* Font/Heading 5/Regular */
                    font-family: Inter;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 32px;
                }
            }
        }
    }

    .background-arrow {

        width: 100%;
        height: 70px;
        position: absolute;
        z-index: 10;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;

        img {
            width: 36px;
            height: 36px;
            transform: rotate(-90deg);
            flex-shrink: 0;
            aspect-ratio: 1/1;
        }
    }

    .background-phi-hanh-gia {
        right: 45%;
        bottom: 90px;
        position: absolute;
        width: 127px;
        height: 110px;
        flex-shrink: 0;
        aspect-ratio: 127 / 110;

    }
}