.users-drive-section {
    /* 1. BỎ cứng 1440px → tràn full width */
    width: 100%;
    min-height: 1046px; // hoặc để auto nếu nội dung tự đẩy cao

    background: linear-gradient(0deg, #572B8F -8.44%, #120030 91.44%);
    color: #fff;
    text-align: center;
    position: relative;
    overflow: hidden; // cực kỳ quan trọng để cắt phần thừa của background

    display: flex;
    justify-content: center;
    align-items: flex-start; // hoặc center tùy bạn muốn nội dung ở giữa

    z-index: 2;

    /* 2. Background overlay lớn – tràn full, không repeat, không méo */
    .background-1 {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%; // full theo section

        background: url('../assets/images/b6e7555227a3c18a46cddd624d0f77bb3afa2dbd.png') center center / cover no-repeat;

        opacity: 0.25;
        mix-blend-mode: luminosity;
        pointer-events: none;
        z-index: 1;
    }



    .content {

        margin-top: 15px;
        width: 1007px;

        .title {
            color: #FFB45E;
            text-align: center;
            font-family: Inter;
            font-size: 20px;
            font-style: italic;
            font-weight: 400;
            line-height: 32px;
            /* 160% */
            /* 123.077% */
        }

        .subtitle {
            font-size: 1.1rem;
            color: #ffba6b;
            margin-bottom: 10px;
            font-style: italic;
        }

        .desc {
            color: #FFF;
            text-align: center;
            font-family: Inter;
            font-size: 26px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
            margin-top: 24px;

            span {
                color: #FF6CCE;

                /* Font/Heading 5/Bold */
                font-family: Inter;
                font-size: 26px;
                font-style: normal;
                font-weight: 700;
                line-height: 32px;
            }
        }

        .desc-2 {
            color: #FFF;
            text-align: center;

            /* Font/Heading 5/Regular */
            font-family: Inter;
            font-size: 26px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
            margin-top: 24px;

            /* 123.077% */
            span {
                color: #FF6CCE;

                /* Font/Heading 5/Bold */
                font-family: Inter;
                font-size: 26px;
                font-style: normal;
                font-weight: 700;
                line-height: 32px;
            }
        }

        .content-btn {

            display: flex;
            justify-content: center;
            gap: 10px;
            margin-top: 24px;
            position: relative;
            z-index: 50;

            .btn-user {
                max-width: 193.5px;
                display: flex;
                height: 40px;
                padding: 5px 16px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 8px;
                flex: 1 0 0;
                border-radius: 8px;
                color: #fff;
                border: 1.4px solid var(--Buttons-Secondary-Stroke---Hover, #B37FEB);
                background: linear-gradient(319deg, rgba(255, 255, 255, 0.80) 11.46%, rgba(255, 255, 255, 0.80) 34.44%, rgba(255, 255, 255, 0.00) 66.52%, rgba(255, 255, 255, 0.80) 94.3%, rgba(255, 255, 255, 0.80) 94.31%), #1A044E;
                background-blend-mode: soft-light, normal;

                /* Buttons/Primary/Shadow Effect */
                box-shadow: 0 2px 2px 0 #000, 0 0 16px 0 rgba(146, 84, 222, 0.32);
            }

            .btn-driver {
                max-width: 193.5px;
                display: flex;
                height: 40px;
                padding: 5px 16px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: #fff;
                gap: 8px;
                flex: 1 0 0;
                border-radius: 8px;
                border: 1.4px solid var(--Buttons-Secondary-Stroke---Hover, #B37FEB);
                background: linear-gradient(319deg, rgba(255, 255, 255, 0.80) 11.46%, rgba(255, 255, 255, 0.80) 34.44%, rgba(255, 255, 255, 0.00) 66.52%, rgba(255, 255, 255, 0.80) 94.3%, rgba(255, 255, 255, 0.80) 94.31%), #1A044E;
                background-blend-mode: soft-light, normal;

                /* Buttons/Primary/Shadow Effect */
                box-shadow: 0 2px 2px 0 #000, 0 0 16px 0 rgba(146, 84, 222, 0.32);
            }
        }

    }

    .image-mobile {

        width: 674px;
        height: 607px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;

        margin: 0 auto;
        position: relative; // cần để ảnh con position tuyệt đối
        gap: 50px;
        margin-top: 30px;

        .image-mobile-background {
            width: 674px;
            height: 674px;
            border-radius: 50%;
            background: radial-gradient(50% 50% at 50% 50%,
                    rgba(213, 110, 255, 0.4) 0%,
                    rgba(180, 126, 247, 0) 100%);
        }

        .image-mobile-center {
            margin-top: 30px;
            width: 221.013px;
            height: 445.257px;
            flex-shrink: 0;
            aspect-ratio: 221.01/445.26;
            z-index: 21;
        }

        .image-mobile-1 {
            width: 250px;
            height: 503.656px;
            flex-shrink: 0;
            aspect-ratio: 250.00/503.66;
            z-index: 21;
        }

        .image-mobile-2 {
            width: 250px;
            height: 503.656px;
            flex-shrink: 0;
            aspect-ratio: 250.00/503.66;
            z-index: 21;
        }

        .image-mobile-3 {
            margin-top: 30px;
            width: 221.013px;
            height: 445.257px;
            flex-shrink: 0;
            aspect-ratio: 221.01/445.26;
            z-index: 21;
        }
    }

    .image-mobile-layout-2 {

        width: 674px;
        height: 607px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;

        margin: 0 auto;
        position: relative; // cần để ảnh con position tuyệt đối
        gap: 50px;
        margin-top: 30px;

        .image-mobile-background {
            width: 674px;
            height: 674px;
            border-radius: 50%;
            background: radial-gradient(50% 50% at 50% 50%,
                    rgba(213, 110, 255, 0.4) 0%,
                    rgba(180, 126, 247, 0) 100%);
        }

        .image-mobile-center {

            width: 250px;
            height: 503.656px;
            flex-shrink: 0;
            aspect-ratio: 250.00/503.66;
            z-index: 21;
        }

        .image-mobile-1 {
            width: 221.013px;
            height: 445.257px;
            flex-shrink: 0;
            aspect-ratio: 221.01/445.26;
            margin-top: 20px;
            z-index: 21;
        }

        .image-mobile-2 {
            width: 221.013px;
            height: 445.257px;
            flex-shrink: 0;
            aspect-ratio: 221.01/445.26;
            margin-top: 20px;
            z-index: 21;
        }

        .image-mobile-3 {

            width: 250px;
            height: 503.656px;
            flex-shrink: 0;
            aspect-ratio: 250.00/503.66;
            z-index: 21;
        }
    }

    .background-bot {
        width: 100%;
        height: auto;
        position: relative;
        z-index: 5; // 👈 thêm dòng này
        margin-top: 9px;
        bottom: -30px;
        margin-bottom: 74px;

        img {
            position: absolute;
            z-index: 1;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            width: 246.44px;
            height: 84.723px;
            flex-direction: column;
            justify-content: center;
        }

        span {
            position: absolute;
            z-index: 2;
            bottom: 10px; // điều chỉnh vị trí tùy ý
            left: 50%;
            transform: translateX(-50%);

            color: #FFF;
            text-align: center;

            /* Font/Heading 6/SemiBold */
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
            /* 120% */
            letter-spacing: 0.03px;
        }
    }
}

@media (max-width: 1024px) {
    .users-drive-section .content .desc {
        font-size: 24px;
    }

    .users-drive-section .content .desc-2 {
        font-size: 24px;
    }

    .image-mobile {

        gap: 11px !important;
        margin-top: 30px;

        .image-mobile-center {
            width: 171.013px; // 221.013 - 50
            height: 395.257px; // 445.257 - 50
        }

        .image-mobile-1 {
            width: 200px; // 250 - 50
            height: 453.656px; // 503.656 - 50
        }

        .image-mobile-2 {
            width: 200px; // 250 - 50
            height: 453.656px; // 503.656 - 50
        }

        .image-mobile-3 {
            width: 171.013px; // 221.013 - 50
            height: 395.257px; // 445.257 - 50
        }
    }

    .image-mobile-layout-2 {

        gap: 11px !important;
        margin-top: 30px;

        .image-mobile-center {
            width: 200px; // 250 - 50
            height: 453.656px; // 503.656 - 50
            z-index: 21;
        }

        .image-mobile-1 {
            width: 171.013px; // 221.013 - 50
            height: 395.257px; // 445.257 - 50
            margin-top: 20px;
            z-index: 21;
        }

        .image-mobile-2 {
            width: 171.013px; // 221.013 - 50
            height: 395.257px; // 445.257 - 50
            margin-top: 20px;
        }

        .image-mobile-3 {
            width: 200px; // 250 - 50
            height: 453.656px; // 503.656 - 50
            z-index: 21;
        }
    }
}